<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        {% if user.is_authenticated %}
            <nav>
                <ul>
                    <li>
                    <a href="{% url 'home' %}">Main Page</a>
                    </li>
                </ul>
                <ul>
                    <li>
                    <a href="{% url 'account_list' %}">Expense List</a>
                    </li>
                </ul>

            </nav>
        {% endif %}
    </header>
    <main>
        <div>
            <h1>Create Account</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Create</button>
            </form>
        </div>
    </main>

</body>
</html>
