<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        {% if user.is_authenticated %}
            <nav>
                <ul>
                    <li>
                    <a href="{% url 'home' %}">Main Page</a>
                    </li>
                </ul>
                <ul>
                    <li>
                    <a href="{% url 'account_list' %}">Account List</a>
                    </li>
                </ul>
                <ul>
                    <li>
                    <a href="{% url 'category_list' %}">Expense List</a>
                    </li>
                </ul>
                <ul>
                    <li>
                    <a href="{% url 'create_account' %}">Create Account</a>
                    </li>
                </ul>
            </nav>
        {% endif %}
    </header>
    <main>
    <h1>Accounts List</h1>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number</th>
                        <th>Number of receipts</th>
                    </tr>
                </thead>
                <tbody>
                    {% for thing in account %}
                        <tr>
                            <td>{{ thing.name }}</td>
                            <td>{{ thing.number }}
                            <td>{{ thing.receipts.all|length }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

</body>
</html>
