<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
    <h1>Expense Categories</h1>
    <header>
        <nav>
                <ul>
                    <li>
                    <a href="{% url 'logout' %}">Logout</a>
                    </li>
                </ul
            {% if user.is_authenticated %}
                <ul>
                    <li>
                    <a href="{% url 'home' %}">Main Page</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="{% url 'create_category' %}">Create Expense Category</a>
                    </li>
                </ul>
                <ul>
                    <li>
                    <a href="{% url 'account_list' %}">Account List</a>
                    </li>
                </ul>
                <ul>
                    <li>
                    <a href="{% url 'category_list' %}">Expense List</a>
                    </li>
                </ul>
            {% endif %}

        <nav>
    </header>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of Receipts</th>
                    </tr>
                </thead>
                <tbody>
                    {% for expense in expenses %}
                        <tr>
                            <td>{{ expense.name }}</td>
                            <td>{{ expense.receipts.all|length }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

</body>
</html>
