<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
                <ul>
                    <li>
                    <a href="{% url 'logout' %}">Logout</a>
                    </li>
            {% if user.is_authenticated %}
                    <li>
                    <a href="{% url 'home' %}">Main Page</a>
                    </li>
                    <li>
                    <a href="{% url 'account_list' %}">Account List</a>
                    </li>
                    <li>
                    <a href="{% url 'category_list' %}">Expense List</a>
                    </li>
                    <li>
                    <a href="{% url 'create_receipt' %}">Create Receipt</a>
                    </li>
            {% endif %}
                </ul>
        <nav>
        </header>
    <main>
        <h1>My Receipts</h1>
        <table>
            {% if user.is_authenticated %}
            <thead>
                <tr>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Account</th>
                </tr>
            </thead>
            {% for receipt in receipts.all %}
            <tbody>
                <tr>
                    <td>{{ receipt.vendor }}</td>
                    <td>{{ receipt.total }}</td>
                    <td>{{ receipt.tax }}</td>
                    <td>{{ receipt.date|date:"m/d/y" }}</td>
                    <td>{{ receipt.category.name }}</td>
                    <td>{{ receipt.account.name }}</td>
                </tr>
            </tbody>
            {% endfor %}
            {% endif %}
        </table>
    </main>
</body>
</html>
